body {
  margin: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  border: 1px solid silver;
  margin-bottom: 1em;
}

table th {
  text-align: left;
}

table td, table th {
  padding: 2px 4px;
}

.buttonRow button {
  margin-right: 4px;
}
