h1, h2, h3, h4, p {
  margin-top: 0;
}

h4 {
  margin-bottom: 1em;
}

button {
  font-size: 0.8em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  font-size: 1.6em;
  padding: 20px;
  background-color: #0f1125;
  color: white;
}

.sidebar {
  background-color: #01dba6;
  padding: 0;
  flex-basis: 25vw;
  height: 100vh;
}

.sidebar > div {
  padding: 20px;
  border-bottom: 1px solid white;
}

.sidebar > div:last-child {
  border-bottom: none;
}

.main {
  padding: 20px;
}

table {
  border: 1px solid silver;
  margin-bottom: 1em;
}

table th {
  text-align: left;
}

table td, table th {
  padding: 2px 4px;
}

.buttonRow button {
  margin-right: 4px;
}
